body {
  font-family: Trebuchet MS;
}
aside img {
  width: 200px;
  height: auto;
}

.darkGreen{
  color:#132C33
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #132C33;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.5s;
}

.sidenav div a:hover {
  background-color: #3BACB6;
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.profile {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
  transition: 0.5s;
}


.profile img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  transition: 0.5s;


}

.content {
  transition: 0.5s;
}





@media only screen and (max-width: 600px) {
  
  
}


/* today css start here */

